*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/* section a{
    background-color: #7e3661;
    text-decoration: none;
    color: white;  
} */
section a:link{
    color: blue;
}
a:visited{
    color: #FCB941;
}

a:active{
    font-size: 3em;
    
}
a:hover{
    background-color: #7e3661;
    text-decoration: none;
    color: white; 
}