*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html{
    font-size: 62.5%;
}
nav{
    padding-top: 100px;
} 
h1{
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    background-color: white;
    margin-left: 2vw;
    margin-right: 2vw;
    background: hsla(0, 0%, 100%, 0.273); 
    color: white;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 10px;
}

header{
    background-image: url("../img/background.jpg");
    background-size: ;
    width: 198vh;
    height: 99.9vh;
    background-size: cover;
}   